$border: 2px solid #737373; //2px ridge #3C3A49
$headerBackground: #f1f1f1;
$dimensionBorder: 2px solid #737373;

$maxTableWidth: 1200px;
$maxTableHeight: 500px;

$cellWidth: 130px;
$cellHeight: 60px;

$cellPadding: 5px;

$textHeight: calc(#{$cellHeight} - #{$cellPadding * 2});

:export {
    cellWidth: $cellWidth;
    cellHeight: $cellHeight;
    maxTableWidth: $maxTableWidth;
    maxTableHeight: $maxTableHeight;
} 
