$border: 2px solid #5e5550; //#737373;
$headerBackground: #f1f1f1;
$dimensionBorder: 2px solid #5e5550;
$buttonActiveBorder: 2px solid #a3958c;

$maxTableWidth: 1200px;
$maxTableHeight: 500px;

$cellWidth: 130px;
$cellHeight: 60px;

$cellPadding: 5px;

$textHeight: calc(#{$cellHeight} - #{$cellPadding * 2});

:export {
    cellWidth: $cellWidth;
    cellHeight: $cellHeight;
    maxTableWidth: $maxTableWidth;
    maxTableHeight: $maxTableHeight;
} 
