@import 'vars'

.measure-selection
    display: flex
    margin: 0
    width: max-content
    border: $dimensionBorder
    border-radius: 5px
    
    &__title
        border-bottom: $dimensionBorder
    &__panel
        width: 400px
        border-right: $dimensionBorder
        &:last-child
            border-right: none

.dimensions-apply
    &__button
        height: 50px
        width: 150px
        cursor: pointer
        margin: 20px 0

.selection-list
    display: flex
    flex-direction: column
    overflow-y: scroll
    height: 200px
    &__ul
        list-style: none
        padding: 0 40px
        flex-grow: 1
    &__dimension
        display: flex
        justify-content: space-between
        margin-bottom: 5px
        padding: 10px
        border: $dimensionBorder
        border-radius: 5px
    &__title
        margin: 0
        display: inline
        white-space: nowrap
        overflow: hidden
    &__button
        border-radius: 50%
        // height: 20%