@import 'vars'

    
.node
    display: flex
    flex-direction: column
    flex-grow: 1
    

    &--top
        max-width: min-content
        border-right: $border
        &:last-child
            border-right: none

    &--left
        padding-left: 5px
        flex-direction: row
        border-bottom: $border
        &:last-child
            border-bottom: none
    
    &__container
        display: flex
        overflow: hidden
        padding: 5px
        &--left
            width: 90px
            
        // padding-left: 5px
        &--top
            // padding-left: 5px
            height: 40px
            // padding-right: 5px
        

    &__wrapper
        display: flex
        flex-grow: 1
        &--top
            border-top: $border
        &--left
            border-left: $border
            flex-direction: column


    &__open-btn
        display: inline-block
        border: 1px solid #2B2A35
        text-align: center
        min-width: 20px
        width: 20px
        height: 20px
        cursor: pointer
    &__text
        display: inline-block
        margin: 0 5px
        word-wrap: break-word
        word-break: break-all
