.time
    &-radiogroup
        display: flex
    &-limit
        display: flex
        &__item
            display: flex
            padding: 5px
        &__name
            margin: 0
            padding-right: 5px

.period-select
    
    &__option
        // text-transform: uppercase
    // &__option p:first-letter
    //     text-transform: uppercase