@import 'vars'

.field
    &__row
        display: flex
    &__cell
        border-bottom: $border
        border-right: $border
        display: flex
        align-items: center
        justify-content: center